<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>Login blog</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://kit.fontawesome.com/95070c6490.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="{%static 'img/wave.png'%}">
<div class="container">
    <div class="img">
        <img src="{%static 'img/bg.svg'%}">
    </div>
    <div class="login-content">
        <form action="" method="post">
            {%csrf_token%}
            <img src="{%static 'img/avatar.svg'%}">
            <h2 class="title">Login</h2>
            {%if messages%}
            {%for msg in messages%}
            {%if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <h5 class="text-danger"><i class="fa-solid fa-circle-xmark"></i>{{msg}}</h5>
            {%endif%}
            {% endfor %}
            {% endif %}
             {%if messages%}
            {%for msg in messages%}
            {%if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
            <h5 class="text-success"><i class="fa-solid fa-circle-check"></i>{{msg}}</h5>
            {%endif%}
            {% endfor %}
            {% endif %}
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="text" name="username"  id="id_username" class="input" required>
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" name="password" id="id_password" class="input" required>
                </div>
            </div>
<!--            <a href="#">Forgot Password?</a>-->
            <input type="submit" class="btn" value="Login">
        </form>
    </div>
</div>
<script type="text/javascript" src="{%static 'js/main.js'%}"></script>

</body>
</html>


