<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
{%if messages%}
{%for msg in messages%}
{%if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
{{msg}}
{%endif%}
{% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Signup Here</h2>
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

</body>
</html>