{%extends 'index.html'%}
{%block body_block%}

<div class="card mt-5" >
  <img src="{{request.user.users.profile_pic.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{request.user}}</h5>
    <p class="card-text">Bio: {{request.user.users.bio}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Phone: {{request.user.users.phone}}</li>
    <li class="list-group-item">DOB: {{request.user.users.date_of_birth}}</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link"></a>
    <a href="{%url 'update-profile' request.user.users.id %}" class="card-link">Update profile</a>
  </div>
</div>
{%endblock%}