
.navbackground{
  background: rgb(43,174,237);
background: linear-gradient(90deg, rgba(43,174,237,1) 0%, rgba(63,60,221,1) 100%);
  height:auto;
}
.nav-link{
    padding: 0 !important;
}
nav i{
    background:#ffffffbf;
    border-radius: 50%;
    border: 12px solid #2baeed17;
    color:blue ;
    font-size: 1.4rem;
}

.blog{
    font-family: fantasy;
    font-size: 40px;
}

.profile-pic{
    height: 6rem;
    background: rgb(43,174,237);
background: linear-gradient(90deg, rgba(43,174,237,1) 0%, rgba(63,60,221,1) 100%);
}
.blank{
    height: 3rem;
}
.left-section{
    position: sticky;
    top: 6rem;
}
.left-section li{
    text-align: center;
}
.bkg-line{
   height: .3rem;
   width: 100%;
    background: rgb(43,174,237);
    background: linear-gradient(90deg, rgba(43,174,237,1) 0%, rgba(63,60,221,1) 100%);
}
button.publish,.follow{
    background-color: #2baeed;
    color: white;
    border: none;
    width: 25%;
    height: 2rem;
    border-radius: 5%;
}
button.publish:hover,button.follow:hover{
    color: #e44d3a;
    border: 1px solid #2baeed;
    background-color: white;
}


.post-head{


}
.send-com{
    position: relative;
    right: 2rem;
    top: 0.4rem;
}
.followers{

    border-radius: 2%;
    background: white;
    color:#2baeed;
    }
.like,#commenticon{
    color: white;
    background: #2baeed;
    border: 5px solid #2baeed;
    border-radius: 50%;
    }